NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
META_ADS_ACCESS_TOKEN=
META_ADS_ACCOUNT_ID=act_1111578709979183
KLAVIYO_API_KEY=
SPEEDY_USERNAME=
SPEEDY_PASSWORD=
CRON_SECRET=
WOOCOMMERCE_URL=https://bosy.bg
WOOCOMMERCE_CONSUMER_KEY=
WOOCOMMERCE_CONSUMER_SECRET=
